/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj
*.pm.tdy
*.bs

# Devel::Cover
cover_db/


!LICENSE

/_build_params

MYMETA.*

/Termbox-*


!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*

/share/
.idea/
.tidyall.d/
.perltidyrc
.tidyallrc
MANIFEST.SKIP
eg/keyboard.pl
